/*公用*/
*{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
	background-color: #DDDDDD;
}
/* .wrap, 大的包围圈，白色的部分*/
.wrap{
	width:1100px;
	margin: 0 auto;
	background: #FFFFFF;
}
/*中间居中的部分，在.wrap内*/
.wrap-content{
	width: 1000px;
	margin: 0 auto;
}
/*头部*/
.header{
	height: 70px;
	margin: 0 auto;
}
.header .header_left,
.header .header_right{
	float: left;
	height: 70px;
}

.header .header_right li{
	list-style-type: none;
	float: left;
	width: 100px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin-right: 10px;
}
.header .header_right a{
	display: block;
	font-size: 20px;
}
.header .header_right a:link,
.header .header_right a:visited{
	text-decoration: none;
}
.header .header_right a:hover,
.header .header_right a:active{
	text-decoration: none;
	background-color:#BD3847;
	color: #fff;
}
.active{
	background-color: #BE3948;
	color: #fff;
}

/*myFocus，图片切换*/
#picDiv{
	margin: 0 auto;
	margin-top: 5px;
	height: 310px;
	border-bottom: 1px solid #42484a;
}
#picDiv li{
	list-style-type: none;
}
#picDiv li a{
	text-decoration: none;
}

/*滚动新闻部分*/
.news-title{
	margin: 10px 0;
	font-size: 16px;
	clear: both;
}
.news-title h3,
.news-title span{
	color: #fff;
	float: left;
	height: 50px;
	line-height: 50px;
}
.news-title{
	clear: both;
}
.news-title h3{
	font-weight: 200;
	text-align: center;
	width: 150px;
	background-color:#BE3948;
}
.news-title span{
	background-color: #3E3E3E;
	width: 830px;
	padding-left: 20px;
}
.news-main{
	clear: both;
	margin-top: 20px;
}
.news-main ul li{
	list-style-type: none;
	float: left;
	margin-top: 10px;
}
.news-main-one a{
	text-decoration: none;
	color: #222;
	font-size: 16px;
}
.news-main-one a:hover{
	color: blue;
}
.news-main-one {
	border: 1px solid #e8e8e8;
	text-align: center;
}
.news-main ul li:first-child{
	margin-right: 4px;
}
.news-main ul li:last-child{
	float: right;
}

/*下边三列的部分*/
.main{
	margin-top: 190px;
	clear: both;
}
.common{
	float: left;
	width: 330px;
	border: 1px solid #e8e8e8;
	margin-right: 1px;
	height: 330px;
	margin-bottom: 10px;
}
.common-right{
	float: right;
}
.common ul li{
	list-style-type: none;
	border-bottom: 1px solid #e8e8e8;
}
.common a{
	text-decoration: none;
	color: #222;
	font-size: 14px;
	line-height: 25px;
}
.common h3{
	background-color: #BD3847;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}
.date{
	float: left;
	background-color: #BD3847;
	margin-top: 10px;
	width: 30px;
	height: 40px;
	color: #fff;
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	font-size: 13px;
	text-align: center;
}
.clearfix{
		height: 80px;
		margin: 10px;
}
.info{
	width: 250px;
	float: right;
}
.info h4{
	font-size: 14px;
	margin-bottom: 5px;
}
.activity .activity-content img{
	padding: 20px 20px 0 20px ;
}
.activity .activity-content .code-z{
	padding-left: 20px;
}
.activity .activity-content .code-z li{
	border: 0px;
	height: 27px;
	font-weight: 700;
}
.common-right .contact-content{
	padding: 10px;
	line-height: 24px;
}
.common-right .contact-content .contact-one{
	margin-bottom: 20px;
}
/*尾部*/
.footer {
	height: 60px;
	margin: 0 auto;
	background-color: #e8e8e8;
	margin-top: 35px;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	clear: both;
}
