<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AddressBook_zheng</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.demo.web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePersonServlet</display-name>
    <servlet-name>DeletePersonServlet</servlet-name>
    <servlet-class>com.demo.web.DeletePersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePersonServlet</servlet-name>
    <url-pattern>/DeletePersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPersonServlet</display-name>
    <servlet-name>AddPersonServlet</servlet-name>
    <servlet-class>com.demo.web.AddPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPersonServlet</servlet-name>
    <url-pattern>/AddPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPersonByIdServlet</display-name>
    <servlet-name>EditPersonByIdServlet</servlet-name>
    <servlet-class>com.demo.web.EditPersonByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPersonByIdServlet</servlet-name>
    <url-pattern>/EditPersonByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePersonServlet</display-name>
    <servlet-name>UpdatePersonServlet</servlet-name>
    <servlet-class>com.demo.web.UpdatePersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonServlet</servlet-name>
    <url-pattern>/UpdatePersonServlet</url-pattern>
  </servlet-mapping>
</web-app>